doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{htmlWebpackPlugin.options.title}
        meta(name='viewport', content='minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no')
        meta(content=htmlWebpackPlugin.options.keywords)
        meta(content=htmlWebpackPlugin.options.description name='description')
    body
        #app
        script(type='text/javascript' src=htmlWebpackPlugin.files.chunks.home.entry)
